@import "../config/function.scss";
@import "../config/constant.scss";


.nav {
    display: none;
    position: absolute;
    z-index: 2;
    top: rem(64);
    min-width: 100%;
    min-height: 100%;
    color: $white;
    padding: rem(48) 0 0 rem(19);
    font-size: rem(16);
    &_active {
        display: block;
    }
    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: rem(-17);
        right: 0;
        background: $backDrop;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: rem(10) 0;
    }

    &__item {
        padding: 0;
        margin: 0;
    }

    &__link {
    }
    &__button-record {
        margin-top: rem(29);
        color: $middle-theme;
        font-weight: 700;
    }
}
@media (min-width: em(640)) {
    .nav {
        display: block;
        max-width: 100%;
        color: $white;
        position: static;
        background-color: $middle-theme;
        background-size: 100vw;
        padding: 0 rem(10);
        min-height: auto;
        &::after {
            content: none;
            position: static;
        }

        &__list {
            flex-direction: row;
            align-items: center;
            gap: 0 rem(30);
            min-height: rem(43);
        }

        &__item {
            padding: 0;
            margin: 0;
        }

        &__link {
        }
        &__button-record {
            display: none;
        }
    }
}
@media (min-width: rem(1140)) {
    .nav {
        padding: 0;
    }
}