@import "../config/function.scss";
@import "../config/constant.scss";

.slider {
    margin: rem(40) rem(18) rem(35);

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 rem(36);
        margin: rem(22) 0 rem(35)
    }
    &__value_gray {
        color: $color-slider-nav;
        opacity: .6;
    }
    &__button {
        font-size: rem(40);
        color: $color-slider-nav;
    }

    &__numbering {
    }

    &__value {
    }
}
@media (min-width: em(768)) {
    .slider {
        max-width: rem(1140);
        margin: 0 auto;
        &__nav {
            margin: rem(34) 0 rem(92)
        }
    }
}
