$root-text: #364844;
$grey-text: #868686;
$white: #fff;
$light-theme: #0dbc91;
$middle-theme: #1fa181;
$dark-theme: #08664f;
$backDrop: rgba(69, 146, 127, 0.9);
$slideBg: #e2f0ef;
$footerBg: #08664f;
$color-slider-nav: #575757;
$red: #8a0101;
